$screen-xs-min: 320px;
$screen-xs-max: 767px;
$screen-sm-min: 768px;
$screen-sm-max: 991px;
$screen-md-min: 992px;
$screen-md-max: 1199px;
$screen-lg-min: 1200px;

$gutter-width: 15px;

$margin-xl-horizontal: 72px;
$margin-xl-vertical: 60px;

$margin-lg-horizontal: 48px;
$margin-lg-vertical: 36px;

$padding-lg-horizontal: 48px;
$padding-lg-vertical: 36px;
